body{
    /* background-color: rgb(170, 204, 249); */
    padding:0;
    font-family: 'Sedgwick Ave Display', cursive;
}
body a{
    text-decoration: noneactive;
}
h1 
{
    margin-top: 20px;

}
h1, h2
{
    font-size:50px;
    text-align: center;
}
#precherche{
    font-size:30px;
    text-align: center;
}
.imghome{
    display: flex;
    justify-content: center;
    
}
.imghome>img{
    
    width:35%;
    
}
.wrapper
{
    
    width: 40%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#button{
    width:auto;
    
    margin-left:10%;
}
.wrapper .search-input
{
    position: relative;
    border-radius: 5px;

}
.search-input input
{ 
    height: 55px;
    width: 100%;
    outline: 8px ridge rgba(170, 50, 220, .6);border-radius: 2rem;    
    border-radius: 5px;
    border:1px solid black;
    font-size: 18px;
    font-family: 'Sedgwick Ave Display', cursive;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.379);
    
}
form{
    display: flex;
    align-items: center;
}


/*--------------- 1ERE DIV -------------------*/
.search-input .autocom-box
{
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    width: 355px;
}
.search-input.active .autocom-box
{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.379);
    background:white;
}
.search-input.active .autocom-box li
{
    display: block;
}
.autocom-box li
{
    list-style: none;
    padding: 8px 10px;
    width: 100%;
    cursor: default;
    border:3px;
    display: none;
}
.search-input.active .autocom-box li
{
    display: block;
}
.autocom-box li:hover
{
    background-color:aqua;
    color: white;
}
/* button, input
{
    margin-top: 25px; 
} */
/*-------------- 2EME DIV --------------------*/
.search-input .autocom-box2
{
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    width: 355px;
}
.search-input.active .autocom-box2
{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.379);
    background:white;
}
.search-input.active .autocom-box2 li
{
    display: block;
}
.autocom-box2 li
{
    list-style: none;
    padding: 8px 10px;
    width: 100%;
    cursor: default;
    border:3px;
    display: none;
}
.search-input.active .autocom-box2 li
{
    display: block;
}
.autocom-box2 li:hover
{
    background-color:bisque;
    color: white;
}


/*------------------ Page ELEMENT.PHP ----------------------*/
.container{
    display: flex;
    flex-direction: column;
}
.image{
    display: flex;
    justify-content: center;
   
}
.image>img{
    
    width:200px;
    height:300px;
}

.description>h3{
    display: flex;
    flex-direction: column  ;
    align-items: center;
    font-size:30px;
    text-decoration: underline;
}

.description p{
    margin:auto;
    width:50%;
    font-size:20px;
    font-family: 'Sedgwick Ave Display', cursive;
    
}


/*---------- Page RECHRECHE.PHP -------------*/
#listsearch{
    margin: 150px;
    margin-left: 600px;
}
.listsearch{
    list-style-type: none;
}
.listsearch a{
    color:black;
    text-decoration: none;
    font-size:20px;
}


/*------------ MediaQuery ---------------*/
@media screen and (max-width: 768px){
.wrapper
{
    max-width: 100%;
    margin: 0;
    margin-left: 0;
}
.wrapper .search-input
{
    position: relative;
    border-radius: 5px;

}

/*---------- Page RECHRECHE.PHP -------------*/
#listsearch{
    margin: 150px;
}
/*------------------ Page ELEMENT.PHP ----------------------*/

}